.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 85px;
}

.bord {
  background-color: lightgrey;
  border: 2px solid dimgray;
  padding: 50px;
  margin: 50px 50px 100px;
  height: 400px;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-top: 20px;
  margin-left: 50%;
}

#name {
  width: 70%;
  padding: 8px;
  border: 1px solid darkslategray;
  border-radius: 4px;
  background-color: lightgrey;
  margin-top: 20px;
}

#year{
  width: 35%;
  padding: 8px;
  border: 1px solid darkslategray;
  border-radius: 4px;
  background-color: lightgrey;
  margin-top: 20px;
}

#month{
  width: 20%;
  padding: 8px;
  border: 1px solid darkslategray;
  border-radius: 4px;
  background-color: lightgrey;
}

#date{
  width: 17%;
  padding: 8px;
  border: 1px solid darkslategray;
  border-radius: 4px;
  background-color: lightgrey;
}

.ageButton {
  background-color: darkslateblue;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.ageButton:hover {
  background-color: #008CBA;
}

.alert_charactor,.alert_name_req ,.alert_date_req{
  padding: 8px;
  background-color: #ff9800;;
  color: white;
  width: 100%;
  margin-top: 20px;
}

.info {
  color: black;
  width: 100%;

}
